@page "/circles/my"
@namespace FourthPharos.Host.Pages.Circle

@using FourthPharos.Host.Services

@inject ICircleService circleService
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigator

<PageTitle>(ALPHA) Fourth Pharos - My Circles</PageTitle>

<div class="page">
    <div class="page-title">
        <div>My Circles</div>
        <div class="new-circle">
            <button type="button" @onclick=@(() => navigator.NavigateTo(Routes.NewCircle))>New circle</button>
        </div>
    </div>
    <div class="circle-list">
        @foreach (var c in circleService.GetCircles())
        {
            <CircleCard @key="@c.Id" Id="@c.Id" Name="@c.Name" Members="@c.Members" Location="@c.Location" class="circle-card-layout"></CircleCard>
        }
    </div>
</div>
