@page "/my-circles"
@namespace FourthPharos.Host.Pages.Circle

@using FourthPharos.Host.Services

@inject ICircleService circleService
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigator

<PageTitle>(ALPHA) Fourth Pharos - My Circles</PageTitle>

<div class="component-layout">
    <div class="grid-header">
        <span class="header">My Circles</span>
        <div class="new-circle"><RadzenButton Icon="add" Text="New circle" Click="@(() => navigator.NavigateTo("/circle/create"))"></RadzenButton></div>
    </div>
    <RadzenStack class="grid-body" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
        @foreach (var c in circleService.GetCircles())
        {
            <CircleCard @key="@c.Id" Id="@c.Id" Name="@c.Name" Members="@c.Members" Location="@c.Location"></CircleCard>
        }
    </RadzenStack>
</div>
